*{
    --color-primario: rgb(236,240,241);
    --color-secundario: rgb(23,32,42);
    --color-terciario: rgb(241,196,15);
    --primer-mezcla: color-mix(in srgb, var(--color-primario) 80%, var(--color-secundario) 20%);

}

body{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0px;
}

/*Header o encabezado*/
header{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    font-size: 2em;
    font-weight: 800;
    margin: 0;
}

nav ul li{
    margin: 0 10px;
    display: inline;
    
}


nav ul li a {
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.5s;
    padding: 0 10px;
    border-radius: 20px;
}

nav ul li a:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

/* Barra fija al hacer scroll */

header {
    position: static;
    z-index: 5000;
}

.encabezado{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  no-repeat  center/100% url(imagenes/construccion.jpeg);
    text-align: center;
    height: 100vh;
    width: 100%;


    p{
        font-size: 1.2em;
        margin: 0;
        padding: 15px 20%;
        color: var(--color-primario);
    }
}

/*Main o Cuerpo de la pagina*/

#services{
    background-color: var(--color-primario);
    padding: 20px;
    text-align: center;
}

#services h2{
    color: var(--color-secundario);
    font-size: 2em;
    margin-bottom: 20px;

}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.recuadro{
    border: 2px solid var(--primer-mezcla);
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    text-align: center;
    background-color: var(--color-primario);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recuadro img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.recuadro span{
    font-size: 1.1em;
    color: var(--color-secundario);
}

.recuadro:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
























/* 


.recuadro span {
    font-size: 1.1em;
    color: #555;
}

.recuadro:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
} */





.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.whatsapp-button img {
    display: block;
}